# Just Clinical Data

### Multivariate Linear Regression

In [1]:
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import data into data frame
df = pd.read_csv('C:/Users/kauls15/Desktop/github/genie/data/derived/d.csv')
df = df.drop('patient_id', 1)
df.head()

   sex  primary_race  ethnicity   age  cancer_type  metastasis
0    1             5          0  48.0           19           0
1    1             6          0  68.0           17           1
2    1             6          0  68.0           28           1
3    1             6          2  73.0           47           0
4    0             6          2  21.0           69           1

In [3]:
df.dropna(how='any',inplace=True);

In [4]:
df.isnull().values.any()

False

In [5]:
df.head()

   sex  primary_race  ethnicity   age  cancer_type  metastasis
0    1             5          0  48.0           19           0
1    1             6          0  68.0           17           1
2    1             6          0  68.0           28           1
3    1             6          2  73.0           47           0
4    0             6          2  21.0           69           1

In [6]:
# load the data into X, Y structures
X = []
Y = []
x1 = df['sex'].astype(float)
x2 = df['primary_race'].astype(float)
x3 = df['ethnicity'].astype(float)
x4 = df['age'].astype(float)
x5 = df['cancer_type'].astype(float)
y = df['metastasis'].astype(float)

X.append([x1, x2, x3, x4, x5, 1])
Y.append(y)

In [7]:
# load the data into X, Y structures
# X = []
# Y = []
# for line in open('C:/Users/kauls15/Desktop/github/genie/data/derived/d2.csv'):
    # x1, x2, x3, x4, x5, y = line.split(',')
    # add implicit bias term
    # X.append([float(x1), float(x2), float(x3), float(x4), float(x5), 1])
    # Y.append(float(y))

In [8]:
X = np.array(X)
Y = np.array(Y)

In [ ]:
# fig = plt.figure()
# ax = fig.add_subplot(111, projection = '3d')
# ax.scatter(X[:, 0], X[:, 1], Y)
# plt.show()

In [ ]:
# calculate weights
w = np.linalg.solve(np.dot(X.T, X), np.dot(X.T, Y))

In [ ]:
Yhat = np.dot(X, w)

In [ ]:
# compute r-squared
d1 = Y = Yhat
d2 = Y = Y.mean()
r2 = 1 - d1.dot(d1) / d2.dot(d2)
print "r-squared:", r2
r2